/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Nov, 2021, 12:34:50 PM
    Author     : simka
*/
body {
    background-color: #AFDCEC;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 17 Nov 2021, 11:42:28 am
    Author     : khair
*/

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    padding: 2px;
    width: 350px;
    height: 300px;
    margin:10px 0px;
    float:left;
}
.grid-containerPlay {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    padding-top: 100px;
    width: 350px;
    height: 300px;
    margin:10px 0px;
    float:left;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.boxed {
    border: 2px solid black ;
    width: 350px;
    height: 150px;
    float: left;
    margin: -310px 850px;
}
.boxed1 {
    border: 2px solid black ;
    width: 350px;
    height: 220px;
    float: left;
    margin:-120px 850px;
}
.boxed2 {
    border: 2px solid black ;
    width: 1500px;
    height: 500px;
    margin: -410px 5px;
}
.boxed3 {
    border: 2px solid black ;
    width: 350px;
    height: 150px;
    float: left;
    margin: 100px 100px;
}
.CarLogo{
    margin:-60px 200px;

}
.FlagLogo{
    margin:5px 100px;

}
.Map
{
    text-align: center;
}
.Maps
{
    margin:450px 600px;
    text-align: center;
}

.NameTextBox
{
    text-align: center;

}
body 
{
    background-color: #AFDCEC;
}

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 Nov 2021, 5:16:31 pm
    Author     : khair
*/
.PlayButton {
    background-color: grey;
    color: black;
    padding: 35px 75px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0px;
    font-weight: bold;
    cursor: pointer;
}
.Play2Button {
    background-color:#00BFFF;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: -50px 10px;
    font-weight: bold;
    cursor: pointer;
}

.AdminButton {
    background-color: grey;
    color: black;
    padding: 37px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 50px;
    font-weight: bold;
    cursor: pointer;
}

.MapButton {
    background-color: grey;
    color: black;
    padding: 35px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 120px;
    font-weight: bold;
    cursor: pointer;
}

.BackButton {
    background-color: white;
    color: black;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.SaveButton {
    background-color: #90EE90;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px;
    cursor: pointer;
}
.Buttons{
    margin:0 auto;
    width:550px;
}

