<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Administrative Dashboard</title>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="{{url_for('static', filename='scripts/adminPanel.js')}}"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light p-3">
            <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
                <a class="navbar-brand" href="#">ICT2101 Dashboard</a>
                <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-md-5">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="indexStart">
                                    <i class="fa fa-gamepad"></i>
                                    <span class="ml-2">Play Game</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="adminPanel">
                                    <i class='fa fa-user-tie'></i>
                                    <span class="ml-2">Admin Panel</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mapEditor">
                                    <i class='fa fa-map'></i>
                                    <span class="ml-2">View/Edit Maps</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                    <h1>Administrative Panel</h1>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Car Connection</h4>
                                        <h5 style="padding-top: 30px">{{status}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Speed(cm/s)</h4>
                                        <h5 style="padding-top: 30px">{{speed}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Total Left Wheel Rotation</h4>
                                        <h3 style="padding-top: 40px">{{ left_rotation }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Total Right Wheel Rotation</h4>
                                        <h3 style="padding-top: 40px">{{ right_rotation }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Number of Commands Received</h4>
                                        <h5 style="padding-top: 30px">{{cmd_received}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Number of Commands Executed</h4>
                                        <h5 style="padding-top: 30px">{{cmd_executed}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card" style='height: 200px'>
                                <div class="card-body">
                                    <div>
                                        <h4>Surface Color Detected</h4>
                                        <h5 style="padding-top: 30px">{{surface}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-sm-6" style="text-align: center;">
                            <div class="card" style='height: auto;'>
                                <div class="card-body">
                                    <h4>Current Command History</h4>
                                    <table id="list">
                                        <tr>
                                            <th>Time</th>
                                            <th>Command</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:none;">
                        <p id="info">{{cmdData}}</p>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
