<!DOCTYPE html>
<html>
    <head>
        <title>Play Screen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mapEditor.css') }}">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="{{url_for('static', filename='scripts/map.js')}}"></script>

        <script>
        function upload(){
        let commands = {
            'name': commandList,
        }
        const request = new XMLHttpRequest();
        request.open('POST', `/upload/${JSON.stringify(commands)}`)
        request.onload = () => {
            const flaskMessage = request.responseText;
            console.log(flaskMessage);
        }
        request.send();
    }
    </script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light p-3">
            <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
                <a class="navbar-brand" href="#">ICT2101 Dashboard</a>
                <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row mt-4">
                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-md-5">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="indexStart">
                                    <i class="fas fa-gamepad"></i>
                                    <span class="ml-2">Play Game</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="adminPanel">
                                    <i class='fas fa-user-tie'></i>
                                    <span class="ml-2">Admin Panel</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mapEditor">
                                    <i class='fas fa-map'></i>
                                    <span class="ml-2">View/Edit Maps</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                    <div id="play-screen" class="card" style='height: 650px'>
                        <h1 id="title" class="text-center">Maze Running Robot</h1>
                        <div class="row" style="padding-bottom: 50px;">
                            <div class="col-sm-8">
                                <div class="card" style='height: 550px'>
                                    <canvas id="game" width="480" height="480"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style='height: 550px'>
                                    <ol id="list">
                                    </ol>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-sm-8">
                                    <div class="card" style='height: 250px'>
                                        <div style="text-align:center;">
                                            <button id="up">UP</button>
                                            <div style="padding-top:20px;">
                                                <button id="left">LEFT</button>
                                                <button id="right">RIGHT</button>
                                            </div>
                                            <div style="padding-top:20px;">
                                                <button id="down">DOWN</button>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- Popout after game ends content -->
                                        <div id="popoutSection" class="popout">
                                            <div class="popout-content">
                                                <p>Game over! Level completed successfully!</p>
                                                <button onClick="window.location.href = window.location.href">Retry</button>
                                                <button class="StartButton" type="button" onclick="location.href = 'indexStart';" > Back to Main </button>
                                            </div>
                                        </div>
                                      <!-- Popout for different content content -->
                                      <div id="popoutSection1" class="popout">
                                          <div class="popout-content">
                                              <p id="popout-text"></p>
                                          </div>
                                      </div>
                                        <div style="padding-top:20px;">
                                            <input class="button btnStart" type="button" id="mybutton5" value = "Run"/>
                                            <button onclick="upload()" class="button btnSend">Upload</button>
                                            <button onclick="removeAll()" class="button btnRemove">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-4">
                                    <div id="button" class ="text-center">
                                        <div style="display: inline-block;">
                                            <button class="button btnInfo" data-toggle="modal" data-target="#modalinfo">How To Play</button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="modalTitle">Instructions</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>There will be a maze displayed on the screen and you will need to use the controls to navigate it.</p>
                                                    <p>Forward Arrow: Go Forward</p>
                                                    <p>Right Arrow: Turn Right</p>
                                                    <p>Left Arrow: Turn Left</p>
                                                    <p>Back Arrow: Go Backward</p>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div>
                                        <a href="mapEditor"><button class="button btnMap">New Map</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">
                            <img id="carUp"
                                 src="/static/carUp.jpg"
                                 width="50" height="50">
                            <img id="carRight"
                                src="/static/carRight.jpg"
                                width="50" height="50">
                            <img id="carDown"
                                src="/static/carDown.jpg"
                                width="50" height="50">
                            <img id="carLeft"
                                src="/static/carLeft.jpg"
                                width="50" height="50">
                            <p id="info">{{someData}}</p>
                            <img id="flag"
                                src="/static/Flag.jpg"
                                width="50" height="50">
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
<br>
</html>

